body {
margin: 0;
padding: 0;
width: 100%;
}

div.background {
  background-image: url("img/background.jpg");
  margin: 0;
  padding-top: 50px;
  height: 100%;
  background-size: cover;
  border-top: 3px solid black;
}

#navigation {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 0px rgba(190, 144, 99, 0.8);
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: top 0.5s;
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  -o-transtion: top 0.5s;
  top: -200px;
  background-color: rgba(4, 12, 14, 0.95) !important;
}

a.navbar-brand {
  transition: all .5s ease-in-out;
  color: rgba(164, 151, 142, 1.0) !important;
}

a.navbar-brand:hover {
  -webkit-transform: scale(1.20);
  -ms-transform: scale(1.20);
  -o-transform: scale(1.20);
  transform: scale(1.20);
  transition: all 0.5s ease-in-out;
}

.parallax {
  background-image: url("img/parallax.jpg");
  min-height: 1000px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  opacity: 0.92;
  z-index: -100;
}

.small_caption {
  display: flex;
  justify-content: center;
  padding-top: 4.6em;
  font-size: 80px;
  color: rgba(255, 209, 154, 1.0);
}

.pop-up1 {
  -webkit-animation: pop-up1 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: pop-up1 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 0.6s;
}

@-webkit-keyframes pop-up1 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 rgba(140, 94, 39, 1.0),
    0 2px 0 rgba(140, 94, 39, 1.0),
    0 3px 0 rgba(140, 94, 39, 1.0),
    0 4px 0 rgba(140, 94, 39, 1.0),
    0 5px 0 rgba(140, 94, 39, 1.0),
    0 6px 0 rgba(140, 94, 39, 1.0),
    0 7px 0 rgba(140, 94, 39, 1.0),
    0 8px 0 rgba(140, 94, 39, 1.0),
    0 9px 0 rgba(140, 94, 39, 1.0),
    0 50px 30px rgba(0, 0, 0, 1.0);
  }
}

@keyframes pop-up1 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 rgba(140, 94, 39, 1.0),
    0 2px 0 rgba(140, 94, 39, 1.0),
    0 3px 0 rgba(140, 94, 39, 1.0),
    0 4px 0 rgba(140, 94, 39, 1.0),
    0 5px 0 rgba(140, 94, 39, 1.0),
    0 6px 0 rgba(140, 94, 39, 1.0),
    0 7px 0 rgba(140, 94, 39, 1.0),
    0 8px 0 rgba(140, 94, 39, 1.0),
    0 9px 0 rgba(140, 94, 39, 1.0),
    0 50px 30px rgba(0, 0, 0, 1.0);
  }
}

div.jumbotron {
  margin: 0px 100px 100px 100px;
  padding: 3em;
  background-color: rgba(4, 12, 14, 0.90);
  opacity: 1.1;
  color: rgba(164, 151, 142, 1.0);
}

div.jumbotron a:hover {
  text-decoration: none !important;
}

button.btn-primary {
  background-color: rgba(190, 144, 99, 1.0);
  border-color: rgba(190, 144, 99, 1.0);
}

button.btn-primary:hover {
  background-color: rgba(164, 151, 142, 1.0);
  border-color: rgba(164, 151, 142, 1.0);
}

button.btn-primary:focus, button.btn-primary:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: rgba(164, 151, 142, 1.0) !important;
  border-color: rgba(164, 151, 142, 1.0) !important;
}

div hr {
  height: 3px;
  background-color: rgba(190, 144, 99, 0.8);
}

h1.title {
  font-size: 40px;
  color: rgba(190, 144, 99, 0.8);
  margin-bottom: 1.5em;
}

.description {
  font-size: 30px;
  text-align: center;
  margin-top: 3em;
}

footer {
  margin-top: 100px;
  background-color: rgba(4, 12, 14, 0.95);
  padding: 30px 50px 1px 50px;
}

#thanks {
  margin-top: 10px;
}

#footer1, #footer2, #footer3 {
  margin-bottom: 30px;
}

#social1:hover, #social2:hover, #social3:hover {
  opacity: 0.8;
}

#interest1, #interest2, #interest3, #interest4, #interest5, #footnav1, #footnav2, #footnav3,
#footnav4 {
  opacity: 0.7;
}

#interest1:hover, #interest2:hover, #interest3:hover, #interest4:hover, #interest5:hover, 
#footnav1:hover, #footnav2:hover, #footnav3:hover, #footnav4:hover {
  text-decoration: none !important;
}

@media screen and (max-width: 3000px) {
  div.jumbotron {
    margin: 0px 100px 100px 100px;
  }
  h1.title {
    font-size: 190%;
  }
  .description {
    font-size: 190%;
  }
   #socimg1, #socimg2, #socimg3 {
    height: 70px;
    width: 70px;
  }
}

@media screen and (max-width: 1200px) {
  div.jumbotron {
    margin: 0px 75px 75px 75px;
  }
  h1.title {
    font-size: 160%;
  }
  .description {
    font-size: 160%;
  }
  .small_caption {
    font-size: 70px;
    padding-top: 4.8em;
  }
  #socimg1, #socimg2, #socimg3 {
    height: 65px;
    width: 65px;
  }
}

@media screen and (max-width: 950px) {
  div.jumbotron {
    margin: 0px 65px 65px 65px;
  }
  h1.title {
    font-size: 150%;
  }
  .description {
    font-size: 140%;
  }
  .small_caption {
    font-size: 65px;
    padding-top: 4.9em;
  }
  #socimg1, #socimg2, #socimg3 {
    height: 60px;
    width: 60px;
  }
}

@media screen and (max-width: 650px) {
  div.jumbotron {
    margin: 0px 30px 30px 30px;
    padding: 15px;
  }
  h1.title {
    font-size: 140%;
  }
  .description {
    font-size: 130%;
  }
  .small_caption {
    font-size: 55px;
    padding-top: 5.1em;
  }
  .parallax {
    min-height: 800px;
    overflow: scroll;
    background-image: url("img/parallax-sm.jpg");
  }
  #socimg1, #socimg2, #socimg3 {
    height: 55px;
    width: 55px;
  }
  div.background {
    background-image: url("img/background-sm.jpg");
  }
}

@media screen and (max-width: 480px) {
  div.jumbotron {
    margin: 0px 30px 30px 30px;
    padding: 15px;
  }
  h1.title {
    font-size: 130%;
  }
  .description {
    font-size: 130%;
  }
  .small_caption {
    font-size: 40px;
    padding-top: 5.3em;
  }
  .parallax {
    min-height: 600px;
    overflow: scroll;
    background-image: url("img/parallax-sm.jpg");
  }
  #socimg1, #socimg2, #socimg3 {
    height: 50px;
    width: 50px;
  }
  div.background {
    background-image: url("img/background-sm.jpg");
  }
}
