body {
margin: 0;
padding: 0;
width: 100%;
}

div.background {
  background-image: url("img/background.png");
  margin: 0;
  padding-top: 50px;
  height: 100%;
  background-size: cover;
  border-top: 3px solid black;
}

#navigation {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 0px rgba(190, 144, 99, 0.8);
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: top 0.5s;
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  -o-transtion: top 0.5s;
  top: -200px;
  background-color: rgba(4, 12, 14, 0.95) !important;
}

a.navbar-brand {
  transition: all .5s ease-in-out;
  color: rgba(164, 151, 142, 1.0) !important;
}

a.navbar-brand:hover {
  -webkit-transform: scale(1.20);
  -ms-transform: scale(1.20);
  -o-transform: scale(1.20);
  transform: scale(1.20);
  transition: all 0.5s ease-in-out;
}

.parallax {
  background-image: url("img/parallax.jpg");
  min-height: 1000px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  opacity: 0.92;
  z-index: -100;
}

.caption {
  display: flex;
  justify-content: center;
  padding-top: 22em;
  opacity: 1.0;
}

.caption_text {
  padding: 0.2em;
  color: rgba(190, 144, 99, 1.0);
  font-size: 50px;
  border-right: .15em solid rgba(164, 151, 142, 1.0);
  background-color: rgba(4, 12, 14, 0.95);
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 2.5s steps(20,end), blink-caret 0.7s step-end infinite;
  -webkit-animation: typing 2.5s steps(20,end), blink-caret 0.7s step-end infinite;
  -moz-animation: typing 2.5s steps(20,end), blink-caret 0.7s step-end infinite;
  -o-animation: typing 2.5s steps(20,end), blink-caret 0.7s step-end infinite;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 6.5em;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 6.5em;
  }
}

@-o-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 6.5em;
  }
}

@-moz-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 6.5em;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(164, 151, 142, 1.0);
  }
}

@-o-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(164, 151, 142, 1.0);
  }
}

@-moz-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(164, 151, 142, 1.0);
  }
}

@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(164, 151, 142, 1.0);
  }
}

div.jumbotron {
  margin: 0px 100px 100px 100px;
  padding: 3em;
  background-color: rgba(4, 12, 14, 0.70);
  opacity: 1.1;
  color: rgba(164, 151, 142, 1.0);
}

div.jumbotron a:hover {
  text-decoration: none !important;
}

button.btn-primary {
  background-color: rgba(190, 144, 99, 1.0);
  border-color: rgba(190, 144, 99, 1.0);
}

button.btn-primary:hover {
  background-color: rgba(164, 151, 142, 1.0);
  border-color: rgba(164, 151, 142, 1.0);
}

button.btn-primary:focus, button.btn-primary:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: rgba(164, 151, 142, 1.0) !important;
  border-color: rgba(164, 151, 142, 1.0) !important;
}

div hr {
  height: 3px;
  background-color: rgba(190, 144, 99, 0.8);
}

h1.title {
  font-size: 40px;
  color: rgba(190, 144, 99, 0.8);
  margin-bottom: 1.5em;
}

.description {
  font-size: 30px;
  text-align: center;
  margin-top: 3em;
}

@media screen and (max-width: 3000px) {
  div.jumbotron {
    margin: 0px 100px 100px 100px;
  }
  h1.title {
    font-size: 190%;
  }
  .description {
    font-size: 190%;
  }
}

@media screen and (max-width: 1200px) {
  div.jumbotron {
    margin: 0px 75px 75px 75px;
  }
  h1.title {
    font-size: 160%;
  }
  .description {
    font-size: 160%;
  }
  .caption_text {
    font-size: 45px;
  }
}

@media screen and (max-width: 950px) {
  div.jumbotron {
    margin: 0px 65px 65px 65px;
  }
  .parallax {
    height: 100% !important;
  }
  h1.title {
    font-size: 150%;
  }
  .description {
    font-size: 140%;
  }
  .caption_text {
    font-size: 42px;
  }
}

@media screen and (max-width: 650px) {
  div.jumbotron {
    margin: 0px 50px 50px 50px;
  }
  .parallax {
    height: 100% !important;
  }
  h1.title {
    font-size: 140%;
  }
  .description {
    font-size: 130%;
  }
  .caption_text {
    font-size: 35px;
  }
}

@media screen and (max-width: 480px) {
  div.jumbotron {
    margin: 0px 30px 30px 30px;
  }
  .parallax {
    height: 100% !important;
  }
  h1.title {
    font-size: 130%;
  }
  .description {
    font-size: 130%;
  }
  .caption_text {
    font-size: 28px;
  }
}
