body {
margin: 0;
padding: 0;
width: 100%;
}

div.background {
  background-image: url("/img/background.png");
  margin: 0;
  padding-top: 50px;
  height: 100%;
  background-size: cover;
  border-top: 3px solid black;
}

#navigation {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 0px rgba(164, 151, 142, 1.0);
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: top 0.5s;
  top: -200px;
  background-color: rgba(4, 12, 14, 0.95) !important;
}

a.navbar-brand {
  transition: all .5s ease-in-out;
  color: rgba(164, 151, 142, 1.0) !important;
}

a.navbar-brand:hover {
  -webkit-transform: scale(1.20);
  -ms-transform: scale(1.20);
  -o-transform: scale(1.20);
  transform: scale(1.20);
  transition: all 0.5s ease-in-out;
}

.parallax {
  background-image: url("/img/parallax.jpg");
  min-height: 1000px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.95;
  z-index: -100;
}

.caption {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

span.box {
  background-color: rgba(4, 12, 14, 1.0);
  color: rgba(164, 151, 142, 1.0);
  padding: 30px;
  font-size: 30px;
  opacity: 0.9;
}

div.jumbotron {
  margin: 0px 100px 100px 100px;
  background-color: rgba(4, 12, 14, 0.70);
  opacity: 1.1;
  color: rgba(164, 151, 142, 1.0);
}

div.jumbotron a:hover {
  text-decoration: none !important;
}

div hr {
  height: 3px;
  background-color: rgba(164, 151, 142, 1.0);
}

div.card {
  padding: 0;
  color: rgba(164, 151, 142, 1.0) !important;
  background-color: rgba(19, 34, 38, 1.0) !important;
}

div.card-title {
  font-size: 130%;
  font-weight: bold;
}

#portrait {
  width: 100%;
}

#portrait:hover {
  opacity: 0.9;
}

a.btn-primary {
  background-color: rgba(190, 144, 99, 1.0);
  border-color: rgba(190, 144, 99, 1.0);
}

a.btn-primary:hover {
  background-color: rgba(164, 151, 142, 1.0);
  border-color: rgba(164, 151, 142, 1.0);
}

a.btn-primary:focus, a.btn-primary:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: rgba(164, 151, 142, 1.0) !important;
  border-color: rgba(164, 151, 142, 1.0) !important;
}

@media screen and (max-width: 3000px) {
  .description {
    font-size: 17px;
  }
  div.card {
    font-size: 85%;
    height: 100%;
  }
  div.jumbotron {
    margin: 0px 100px 100px 100px;
}

@media screen and (max-width: 1200px) {
  .description {
    font-size: 80%;
  }
  div.card {
    font-size: 80%;
    height: 90%;
  }
  div.jumbotron {
    margin: 0px 75px 75px 75px;
}

@media screen and (max-width: 950px) {
  .description {
    font-size: 70%;
    margin-bottom: 20px;
  }
  div.card {
    font-size: 70%;
    height: 55%;
  }
  div.jumbotron {
    margin: 0px 80px 80px 80px;
    padding: 40px;
  }
  * {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
  #navigation {
    top: 0;
  }
}

@media screen and (max-width: 650px) {
  .description {
    font-size: 60%;
    margin-bottom: 20px;
  }
  div.card {
    font-size: 60%;
    height: 40%;
  }
  div.jumbotron {
    margin: 0px 30px 30px 30px;
    padding: 70px;
  }
  * {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
  #navigation {
    top: 0;
  }
}

@media screen and (max-width: 480px) {
  .description {
    font-size: 50%;
    margin-bottom: 20px;
  }
  div.card {
    font-size: 50%;
    height: 30%;
  }
  div.jumbotron {
    margin: 0px 10px 10px 10px;
    padding: 50px;
  }
  * {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
  #navigation {
    top: 0;
  }
}
