body {
margin: 0;
padding: 0;
width: 100%;
}

div.background {
  background-image: url("img/background.png");
  margin: 0;
  padding-top: 50px;
  height: 100%;
  background-size: cover;
  border-top: 3px solid black;
}

#navigation {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 0px rgba(190, 144, 99, 0.8);
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: top 0.5s;
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  -o-transtion: top 0.5s;
  top: -200px;
  background-color: rgba(4, 12, 14, 0.95) !important;
}

a.navbar-brand {
  transition: all .5s ease-in-out;
  color: rgba(164, 151, 142, 1.0) !important;
}

a.navbar-brand:hover {
  -webkit-transform: scale(1.20);
  -ms-transform: scale(1.20);
  -o-transform: scale(1.20);
  transform: scale(1.20);
  transition: all 0.5s ease-in-out;
}

.parallax {
  background-image: url("img/parallax.jpg");
  min-height: 1000px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  opacity: 0.92;
  z-index: -100;
}

.caption {
  display: flex;
  justify-content: center;
  padding-top: 20em;
  opacity: 1.0;
}

.caption_text {
  padding: 0.2em;
  color: rgba(190, 144, 99, 1.0);
  font-size: 50px;
  border-right: .15em solid rgba(164, 151, 142, 1.0);
  background-color: rgba(4, 12, 14, 0.95);
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 2.5s steps(20,end), blink-caret 0.7s step-end infinite;
  -webkit-animation: typing 2.5s steps(20,end), blink-caret 0.7s step-end infinite;
  -moz-animation: typing 2.5s steps(20,end), blink-caret 0.7s step-end infinite;
  -o-animation: typing 2.5s steps(20,end), blink-caret 0.7s step-end infinite;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 8.2em;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 8.2em;
  }
}

@-o-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 8.2em;
  }
}

@-moz-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 8.2em;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(164, 151, 142, 1.0);
  }
}

@-o-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(164, 151, 142, 1.0);
  }
}

@-moz-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(164, 151, 142, 1.0);
  }
}

@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(164, 151, 142, 1.0);
  }
}

.small_caption {
  display: flex;
  justify-content: center;
  padding-top: 0.5em;
  opacity: 0.9;
  font-size: 40px;
  font-style: italic;
  color: rgba(190, 144, 99, 0.8);
  text-shadow: rgba(4, 12, 14, 0.70);
}

.flicker {
	-webkit-animation: flicker 3.8s linear 2.5s both;
  -moz-animation: flicker 3.8s linear 2.5s both;
  -o-animation: flicker 3.8s linear 2.5s both;
	animation: flicker 3.8s linear 2.5s both;
}

@-webkit-keyframes flicker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.45), 0 0 60px rgba(4, 12, 14, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.45), 0 0 60px rgba(4, 12, 14, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.45), 0 0 60px rgba(4, 12, 14, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.45), 0 0 60px rgba(4, 12, 14, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.45), 0 0 60px rgba(4, 12, 14, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.35), 0 0 100px rgba(4, 12, 14, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.35), 0 0 100px rgba(4, 12, 14, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow:5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.4), 0 0 110px rgba(4, 12, 14, 0.2), 0 0 100px rgba(4, 12, 14, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.4), 0 0 110px rgba(4, 12, 14, 0.2), 0 0 100px rgba(4, 12, 14, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.6), 0 0 60px rgba(4, 12, 14, 0.45), 0 0 110px rgba(4, 12, 14, 0.25), 0 0 100px rgba(4, 12, 14, 0.1);
  }
  100% {
    opacity: 1 !important;
    text-shadow: 1px 1px 15px rgba(4, 12, 14, 0.8), 1px 1px 15px rgba(4, 12, 14, 0.6), 5px 0px 15px rgba(4, 12, 14, 0.75), 5px 1px 15px rgba(4, 12, 14, 0.5);
  }
}

@-moz-keyframes flicker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.45), 0 0 60px rgba(4, 12, 14, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.45), 0 0 60px rgba(4, 12, 14, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.45), 0 0 60px rgba(4, 12, 14, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.45), 0 0 60px rgba(4, 12, 14, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.45), 0 0 60px rgba(4, 12, 14, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.35), 0 0 100px rgba(4, 12, 14, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.35), 0 0 100px rgba(4, 12, 14, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow:5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.4), 0 0 110px rgba(4, 12, 14, 0.2), 0 0 100px rgba(4, 12, 14, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.4), 0 0 110px rgba(4, 12, 14, 0.2), 0 0 100px rgba(4, 12, 14, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.6), 0 0 60px rgba(4, 12, 14, 0.45), 0 0 110px rgba(4, 12, 14, 0.25), 0 0 100px rgba(4, 12, 14, 0.1);
  }
  100% {
    opacity: 1 !important;
    text-shadow: 1px 1px 15px rgba(4, 12, 14, 0.8), 1px 1px 15px rgba(4, 12, 14, 0.6), 5px 0px 15px rgba(4, 12, 14, 0.75), 5px 1px 15px rgba(4, 12, 14, 0.5);
  }
}

@-o-keyframes flicker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.45), 0 0 60px rgba(4, 12, 14, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.45), 0 0 60px rgba(4, 12, 14, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.45), 0 0 60px rgba(4, 12, 14, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.45), 0 0 60px rgba(4, 12, 14, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.45), 0 0 60px rgba(4, 12, 14, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.35), 0 0 100px rgba(4, 12, 14, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.35), 0 0 100px rgba(4, 12, 14, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow:5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.4), 0 0 110px rgba(4, 12, 14, 0.2), 0 0 100px rgba(4, 12, 14, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.4), 0 0 110px rgba(4, 12, 14, 0.2), 0 0 100px rgba(4, 12, 14, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.6), 0 0 60px rgba(4, 12, 14, 0.45), 0 0 110px rgba(4, 12, 14, 0.25), 0 0 100px rgba(4, 12, 14, 0.1);
  }
  100% {
    opacity: 1 !important;
    text-shadow: 1px 1px 15px rgba(4, 12, 14, 0.8), 1px 1px 15px rgba(4, 12, 14, 0.6), 5px 0px 15px rgba(4, 12, 14, 0.75), 5px 1px 15px rgba(4, 12, 14, 0.5);
  }
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.45), 0 0 60px rgba(4, 12, 14, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.45), 0 0 60px rgba(4, 12, 14, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.45), 0 0 60px rgba(4, 12, 14, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.45), 0 0 60px rgba(4, 12, 14, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.45), 0 0 60px rgba(4, 12, 14, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.35), 0 0 100px rgba(4, 12, 14, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.35), 0 0 100px rgba(4, 12, 14, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow:5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.4), 0 0 110px rgba(4, 12, 14, 0.2), 0 0 100px rgba(4, 12, 14, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.55), 0 0 60px rgba(4, 12, 14, 0.4), 0 0 110px rgba(4, 12, 14, 0.2), 0 0 100px rgba(4, 12, 14, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 5px 5px 50px rgba(4, 12, 14, 0.6), 0 0 60px rgba(4, 12, 14, 0.45), 0 0 110px rgba(4, 12, 14, 0.25), 0 0 100px rgba(4, 12, 14, 0.1);
  }
  100% {
    opacity: 1 !important;
    text-shadow: 1px 1px 15px rgba(4, 12, 14, 0.8), 1px 1px 15px rgba(4, 12, 14, 0.6), 5px 0px 15px rgba(4, 12, 14, 0.75), 5px 1px 15px rgba(4, 12, 14, 0.5);
  }
}

div.jumbotron {
  margin: 0px 100px 100px 100px;
  background-color: rgba(4, 12, 14, 0.70);
  opacity: 1.1;
  color: rgba(164, 151, 142, 1.0);
}

div.jumbotron a:hover {
  text-decoration: none !important;
}

div hr {
  height: 3px;
  background-color: rgba(190, 144, 99, 0.8);
}

div.card {
  padding: 0;
  color: rgba(164, 151, 142, 1.0) !important;
  background-color: rgba(19, 34, 38, 1.0) !important;
}

div.card-title {
  font-size: 130%;
  font-weight: bold;
}

#portrait {
  width: 100%;
}

#portrait:hover {
  opacity: 0.9;
}

a.btn-primary {
  background-color: rgba(190, 144, 99, 1.0);
  border-color: rgba(190, 144, 99, 1.0);
}

a.btn-primary:hover {
  background-color: rgba(164, 151, 142, 1.0);
  border-color: rgba(164, 151, 142, 1.0);
}

a.btn-primary:focus, a.btn-primary:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: rgba(164, 151, 142, 1.0) !important;
  border-color: rgba(164, 151, 142, 1.0) !important;
}

h1.title {
  font-size: 40px;
  color: rgba(190, 144, 99, 0.8);
}

h1.title2 {
  font-size: 40px;
  color: rgba(190, 144, 99, 0.8);
  margin-bottom: 40px;
}

#modal1, #modal2, #modal3, #modal4 {
  margin-bottom: 10px;
}

a.modal1_btn, a.modal2_btn, a.modal3_btn, a.modal4_btn {
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

@media screen and (max-width: 3000px) {
  .description {
    font-size: 17px;
  }
  div.card {
    font-size: 100%;
    height: 100%;
  }
  div.jumbotron {
    margin: 0px 100px 100px 100px;
  }
  h1.title, h1.title2 {
    font-size: 190%;
  }
}

@media screen and (max-width: 1200px) {
  .description {
    font-size: 90%;
  }
  div.card {
    font-size: 90%;
    height: 90%;
  }
  div.jumbotron {
    margin: 0px 75px 75px 75px;
  }
  .caption_text {
    font-size: 45px;
  }
  h1.title, h1.title2 {
    font-size: 160%;
  }
  .small_caption {
    font-size: 35px;
  }
  .modal_image {
    height: auto;
    width: 250px;
  }
}

@media screen and (max-width: 950px) {
  .description {
    font-size: 85%;
    margin-bottom: 20px;
  }
  div.card {
    font-size: 85%;
    height: 55%;
  }
  div.jumbotron {
    margin: 0px 80px 80px 80px;
    padding: 60px;
  }
  .caption_text {
    font-size: 42px;
  }
  h1.title, h1.title2 {
    font-size: 150%;
  }
  .small_caption {
    font-size: 30px;
  }
  .modal_image {
    height: auto;
    width: 180px;
  }
}

@media screen and (max-width: 650px) {
  .description {
    font-size: 80%;
    margin-bottom: 20px;
  }
  div.card {
    font-size: 80%;
    height: 40%;
  }
  div.jumbotron {
    margin: 0px 30px 30px 30px;
    padding: 60px;
  }
  .caption_text {
    font-size: 35px;
  }
  h1.title, h1.title2 {
    font-size: 140%;
  }
  .small_caption {
    font-size: 25px;
  }
  .modal_image {
    height: auto;
    width: 160px;
  }
}

@media screen and (max-width: 480px) {
  .description {
    font-size: 75%;
    margin-bottom: 20px;
  }
  div.card {
    font-size: 75%;
    height: 30%;
  }
  div.jumbotron {
    margin: 0px 10px 10px 10px;
    padding: 40px;
  }
  .caption_text {
    font-size: 28px;
  }
  h1.title, h1.title2 {
    font-size: 130%;
  }
  .small_caption {
    font-size: 20px;
  }
  .modal_image {
    height: auto;
    width: 125px;
  }
}
